body{
	margin: 0;
	padding: 0;
	background: url(img.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	height: 1080px;
}
.box{
	width: 320px;
	height: 420px;
	backdrop-filter: blur(10px);
	background-color: rgba(255,255,255,0.13);
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 65px 68px;
	border-radius: 10px;
}
.container h1{
	padding: 0 32px 10px;
	padding-top: 7px;
    font-size:25px;
    color: white;
   
}
.container button{
	padding: 0 60px 0;
	color: white;
	backdrop-filter: blur(1px);
	background-color: rgba(255,255,255,0.13);
	border-radius: 10px;
	height: 30px;
	margin-left: 10px;
}
.container input{
	border-radius: 6px;
	padding-top: 5px;
	padding-bottom: 5px;
	backdrop-filter: blur(0px);
	background-color: rgba(255,255,255,0.13);
}

.container ::placeholder{
	color: white;
	opacity: 1;
}
a{
	font-size: 12px;
	text-decoration: none;
	color: white;
}